<%= form_for(inscription) do |f| %>
  <% if inscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inscription.errors.count, "error") %> prohibited this inscription from being saved:</h2>

      <ul>
      <% inscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% @course.each do |course| %>
  <div class="field">
    <%= f.label course.code %>
    <%= f.radio_button(name=course, value=course.code) %>
  </div>
        <% end %>


  <!--<div class="field">
    <%= f.label :student_id %>
    <%= f.text_field :student_id %>
  </div>-->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
